{
  "presets": [
    [
      "env",
      {
        "targets": {
          "ie": 8
        },
        "modules": false,
        "loose": true
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ]
}